/* Colors */
:root {
  --green: #2e7d32;
  --yellow: #f4c430;
}

body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  line-height: 1.6;
}


/* Header */
header {
  background: var(--green);
  color: white;
  padding: 1rem;
  text-align: center;
}

nav a {
  color: white;
  margin:0 10px;
  text-decoration: none;
}

.hero {
  padding: 2rem;
  background: var(--yellow);
  color: var(--green);
  text-align: center;
}
/* Grid layout */
.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
}

/* Cards */
.card {
  border: 2px solid var(--yellow);
  padding: 15px;
  border-radius: 10px;
  background: #fff;
}

/* Images */
.card img {
  width: 100%;
  border-radius: 5px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;

}

fieldset {
  border: 2px solid var(--yellow);
  padding: 10px;
}

input, select, textarea {
  width: 100%;
  margin-bottom: 10px;
  padding: 8px;
}

button {
  background: green;
  color: yellow;
  padding: 10px;
  border: none;
  cursor: pointer;
}