/* ROOT VARIABLES */
:root {
  --primary-color: #1d3557;
  --white:#ffffff;         /*standardized */
  --background-color: #f1faee;
  --text-color: #000000;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* BODY */
body {
  font-family: Arial, sans-serif;
  background: var(--background-color);
  color: var(--text-color);
}

/* HEADER */
header {
  background: var(--primary-color);
  color: var(--white); /* change from white to var */
  padding: 1rem;
  text-align: center;
}

/* MAIN LAYOUT (GRID REQUIRED) */
main {
  display: grid;
  gap: 1rem;
  max-width: 900px;
  margin: 0 auto;
  padding: 1rem;
}

/* SECTIONS */
section {
  background:var(--white); /*replaced hex #ffffff with var */
  padding: 1rem;
  border-radius: 8px;
}

/* IMAGE */
picture img {
  width: 100%;
  height: auto;
  display: block;
}

/* WEATHER */
.weather {
  text-align: center;
}

/* SVG / IMAGE */
.weather-icon {
  width: 60px;
  margin: 0 auto;
}

/* PSEUDO ELEMENT (REQUIRED) */
.weather h2::after {
  content: " ☀️";
  display: none;
}

/* FOOTER */
footer {
  background: var(--primary-color);
  color: white;/* change from white to  var */
  text-align: center;
  padding: 1rem;
}

/* MEDIA QUERY (REQUIRED) */
@media (min-width: 768px) {

  /* GRID LAYOUT */
  main {
    grid-template-columns: 1fr 1fr;
  }

  /* SHOW EMOJI ONLY ON DESKTOP */
  .weather h2::after {
    display: inline;
  }

  /* HIDE WEATHER ICON ON DESKTOP */
  .weather-icon {
    display: none;
  }
}
